[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidityscripting/lib/forge-std"]
	path = solidityscripting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-scripting/lib/forge-std"]
	path = solidity-scripting/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity-scripting/lib/solmate"]
	path = solidity-scripting/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "solidity-scripting/lib/openzeppelin-contracts"]
	path = solidity-scripting/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
